/* body */
body {
  background-color: #e0cacc;
}
/* body */

/* 標題欄與新增日記卡按鈕 */

#head-row {
  /* background-color: white; */
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom-style: solid;
  height: 90px;
}

#head {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50px;
  left: 50%;
  height: 100px;
}

#head h1 {
  font-size: 50px;
  color: #222;
}

#diary-add {
  position: absolute;
  right: 50px;
  top: 40px;
  height: 60px;
}

.new-popup-button{
  outline: 0;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: black;
  font-size: 18px;
  padding: 12px 24px;
  background-color: white;
  background-color: #e7e7e7;
  box-shadow: 0 10px 22px 0 rgb(37 44 97 / 15%), 0 2px 6px 0 rgb(93 100 148 / 20%);
  transition: all .2s ease-out;
}

.new-popup-button:hover {
  box-shadow: 0 20px 44px 0 rgb(37 44 97 / 15%), 0 9px 12px 0 rgb(93 100 148 / 20%);
  background-color: #f0989c;
}
/* 標題欄與新增日記卡按鈕 */

/* 統一popup格式*/
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: auto;
  transition: all 0.3s ease-out;
}

.popup-content {
  position: relative;
  background-color: #e7e7e7;
  margin: 100px auto;
  padding: 30px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 65%;
  height: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/* 統一popup格式 */

/* 統一close格式 */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}
/* 統一close格式 */

/* 去除多餘物件 */
summary {
  list-style-type: none;
}
/* 去除多餘物件 */

/* filter */
#filter-name {
  position: absolute;
  right: 148px;
  top: 117px;
  font-size: 20px;
}

#filter {
  appearance: none;
  border: 0;
  outline: 0;
  background: #e0cacc;
  box-shadow: none;
  flex: 1;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
}
#filter::-ms-expand {
  display: none;
}
#filter option:checked, #filter option:hover {
  background-color: #af7379;
}

.select {
  position: absolute;
  right: 40px;
  top: 135px;
  display: flex;
  width: min(90px, 400px);
  background-color: white;
  border-radius: 0.25rem;
  overflow: hidden;
  &::after {
    content: "\25BC";
    position: absolute;
    right: 1rem;
    top: 4px;
    transition: 0.25s all ease;
    pointer-events: none;
  }
  &:hover::after {
    color: #f0989c;
    animation: bounce 0.5s infinite;
  }
}
@keyframes bounce {
  25% {
    transform: translatey(5px);
  }
  75% {
    transform: translatey(-5px);
  }
}
/* filter */

/* 預覽的日記卡們 */
.diary-list {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

.diary-item {
  margin: 12px;
  padding: 20px;
  width: 310px;
  height: 150px;
  background-color: #e7e7e7;
  box-shadow: 5px 5px 5px 2px #c8b0b2;
}

#diary-item-summary {
  height: 100%;
}

#date-preview {
  display: inline-block;
  font-family: 'Raleway',sans-serif;
  line-height: 1.25;
  margin-right: 5px;
  font-size: 18px;
  font-weight: bold;
}

#tag-preview {
  display: inline-block;
  outline: 0;
  border: 0;
  background-color: #9fccce;
  border-radius: 1.5rem;
  padding: 2px 18px;
  font-family: "微軟正黑體", "Microsoft JhengHei",  Tahoma , Verdana , Arial , sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: white;
  line-height: 26px;
}

#mood-preview {
  display: inline-block;
  outline: 0;
  border: 0;
  background-color: #aebca2;
  border-radius: 1.5rem;
  padding: 2px 18px;
  font-family: "微軟正黑體", "Microsoft JhengHei",  Tahoma , Verdana , Arial , sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: white;
  line-height: 26px;
}

#content-preview {
  margin-top: 20px;
  height: 50%;
  font-family: "微軟正黑體", "Microsoft JhengHei",  Tahoma , Verdana , Arial , sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 28px;
  word-break: break-all;
  white-space: pre-line;
  color: #1f1f1f;
}

.view-details-button {
  outline: 0;
  border: none;
  cursor: pointer;
  height: 32px;
  margin-left: 200px;
  padding: 0px 16px;
  border-radius: 50px;
  background-color: #d0d0d0;
  color: #222;
  font-size: 12px;
  font-weight: 1000;
}

.view-details-button:hover {
  background-color: #2222221a;
}
/* 預覽的日記卡們 */

/* 新增日記卡頁面 */
.new-diary-entry {
  height: 85%;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
}

#new-diary-entry-wrapper {
  display: inline-flex;
}

.container-new {
  height: 40px;
}

#label-date-entry {
  display: inline-block;
  margin: 0;
  font-size: 20px;
}
#date-entry {
  display: inline-block;
  margin-left: 5px;
  width: 160px;
  background-color: inherit;
  padding: 10px;
  font-family: "Roboto Mono", monospace;
  color: black;
  font-size: 18px;
  font-weight: bold;
  border: none;
  outline: none;
}

#label-tag-entry {
  display: inline-block;
  margin: 0;
  margin-left: 20px;
  font-size: 20px;
}
#tag-entry {
  display: inline-block;
  width: 90px;
  margin-left: 10px;
  padding: 6px 24px;
  background-color: #9fccce;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  outline: none;
}
#label-mood-entry{
  display: inline-block;
  margin: 0;
  margin-left: 40px;
  font-size: 20px;
}
#mood-entry {
  display: inline-block;
  width: 90px;
  margin-left: 10px;
  padding: 6px 24px;
  background-color: #aebca2;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  outline: none;
}

#content-entry {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 80%;
  width: 100%;
  resize: none;
  /* padding: 40px; */
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 30px;
}

#content-entry:focus {
  outline: none !important;
  border: 1px solid rgb(37, 37, 48);
}

#place-for-buttons-new {
  position: relative;
  height: 15%;
}

.cancel-add-button {
  position: absolute;
  right: 150px;
  outline: 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  padding: 8px 30px;
  background-color: #d0d0d0;
  color: #222;
  font-size: 22px;
  font-weight: 1000;
}

.cancel-add-button:hover {
  background-color: #acabab;
  color: white;
}

.save-diary-button {
  position: absolute;
  right: 20px;
  outline: 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  padding: 8px 30px;
  background-color: #f0989c;
  color: #222;
  font-size: 22px;
  font-weight: 1000;
}

.save-diary-button:hover {
  background-color: #d38990;
  color: white;
}
/* 新增日記卡頁面 */


/* 瀏覽日記卡頁面 */
.diary-details, .diary-item-details, #diary-details-summary{
  height: 100%;
}

#diary-details-summary {
  padding: 40px;
}

#date-details {
  display: inline-block;
  font-family: 'Raleway',sans-serif;
  line-height: 1.25;
  margin-right: 5px;
  font-size: 28px;
  font-weight: bold;
}

#tag-details {
  display: inline-block;
  outline: 0;
  margin-left: 30px;
  border: 0;
  background-color: #9fccce;
  border-radius: 1.5rem;
  padding: 6px 24px;
  font-family: "微軟正黑體", "Microsoft JhengHei",  Tahoma , Verdana , Arial , sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: white;
  line-height: 26px;
}

#mood-details {
  display: inline-block;
  outline: 0;
  margin-left: 10px;
  border: 0;
  background-color: #aebca2;
  border-radius: 1.5rem;
  padding: 6px 24px;
  font-family: "微軟正黑體", "Microsoft JhengHei",  Tahoma , Verdana , Arial , sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: white;
  line-height: 26px;
}

#content-details {
  margin-top: 50px;
  height: 75%;
  font-family: "微軟正黑體", "Microsoft JhengHei",  Tahoma , Verdana , Arial , sans-serif;
  font-size: 20px;
  letter-spacing: 1.3px;
  line-height: 28px;
  word-break: break-all;
  color: #1f1f1f;
}

.edit-button {
  position: relative;
  outline: 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  padding: 8px 30px;
  left: 100%;
  transform: translate(-80%, -50%);
  background-color: #d0d0d0;
  color: #222;
  font-size: 22px;
  font-weight: 1000;
}

.edit-button:hover {
  background-color: #f0989c;
  color: white;
}
/* 瀏覽日記卡頁面 */


/* 編輯日記卡頁面 */
.edit-details, .edit-page, #edit-page-summary {
  height: 100%;
}

#more-wrapper {
  height: 85%;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
}

#edit-page-entry-wrapper {
  display: inline-flex;
}

.container-edit {
  height: 40px;
}

#label-date-edit {
  display: inline-block;
  margin: 0;
  font-size: 20px;
}
#date-edit {
  display: inline-block;
  margin-left: 5px;
  width: 160px;
  background-color: inherit;
  padding: 10px;
  font-family: "Roboto Mono", monospace;
  color: black;
  font-size: 18px;
  border: none;
  outline: none;
}

#label-tag-edit {
  display: inline-block;
  margin: 0;
  margin-left: 20px;
  font-size: 20px;
}
#tag-edit {
  display: inline-block;
  width: 90px;
  margin-left: 10px;
  padding: 6px 24px;
  background-color: #9fccce;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  outline: none;
}
#label-mood-edit{
  display: inline-block;
  margin: 0;
  margin-left: 40px;
  font-size: 20px;
}
#mood-edit {
  display: inline-block;
  width: 90px;
  margin-left: 10px;
  padding: 6px 24px;
  background-color: #aebca2;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  outline: none;
}

#content-edit {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 80%;
  width: 100%;
  resize: none;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 30px;
}

#content-edit:focus {
  outline: none !important;
  border: 1px solid rgb(37, 37, 48);
}

#place-for-buttons-edit {
  position: relative;
  height: 15%;
}

.cancel-edit-button {
  position: absolute;
  right: 150px;
  outline: 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  padding: 8px 30px;
  background-color: #d0d0d0;
  color: #222;
  font-size: 22px;
  font-weight: 1000;
}

.cancel-edit-button:hover {
  background-color: #acabab;
  color: white;
}

.save-edit-button {
  position: absolute;
  right: 20px;
  outline: 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  padding: 8px 30px;
  background-color: #f0989c;
  color: #222;
  font-size: 22px;
  font-weight: 1000;
}

.save-edit-button:hover {
  background-color: #d38990;
  color: white;
}
/* 編輯日記卡頁面 */